@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --eerie-black: #131416ff;
  --blue-jeans: #3da0f1ff;
  --sizzling-red: #ff1f4fff;
  --red-orange-color-wheel: #ff531fff;
  --corn: #ffec43ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: 'Padauk', sans-serif;
  line-height: 1.4;
  height: 1500px;
  color: #fff;
}

p {
  height: 1.2rem;
  line-height: 1.5;
}

li {
  height: 1.2rem;
  list-style: none;
}

a {
  text-decoration: none;
  color: #f1f1f1;
  height: 1.2rem;
}

.m-1 {
  margin: 5px;
}
.m-2 {
  margin: 10px;
}
.m-3 {
  margin: 15px;
}

.mtb-1 {
  margin: 5px 0;
}
.mtb-2 {
  margin: 10px 0;
}
.mtb-3 {
  margin: 15px 0;
}

.m-center {
  margin: auto;
}

.p-1 {
  padding: 5px;
}
.p-2 {
  padding: 10px;
}
.p-3 {
  padding: 15px;
}

.container {
  margin: auto;
  max-width: 1400px;
  padding: 0 20px;
}

#navbar {
  height: 120px;
  /* background-color: red; */
  font-size: 1.5rem;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  width: 100vw;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: inherit;
}

.web-title h1 {
  user-select: none;
  cursor: pointer;
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
}

.links {
  display: flex;
}

.link {
  cursor: pointer;
}

#hero {
  background: url(./pexels-oliver-schmid-5793877.jpg) no-repeat center
    center/cover;
  height: 100vh;
  position: relative;
}

#hero::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #cc234a80;
}
